<link rel="stylesheet" href="http://unpkg.com/@progress/kendo-theme-material/dist/all.css" />

<kendo-grid *ngIf="ibmPriceData" [data]="gridView" [pageSize]="pageSize" [skip]="skip" [pageable]="{
  buttonCount: buttonCount,
  info: info,
  type: type,
  pageSizes: pageSizes,
  previousNext: previousNext,
  position: position
}" (pageChange)="pageChange($event)" [sort]="sort" [sortable]="{  mode: 'single' }" (sortChange)="sortChange($event)">
  <kendo-grid-column field="date" title="Date" width="120">
    <ng-template kendoGridCellTemplate let-dataItem>
      {{dataItem.date | date: 'dd/MM/yyyy'}}
    </ng-template>
  </kendo-grid-column>
  <kendo-grid-column field="open" title="Open Price" width="120">
  </kendo-grid-column>
  <kendo-grid-column field="close" title="Close Price" width="120">
  </kendo-grid-column>
  <kendo-grid-column field="high" title="High Price" width="120">
  </kendo-grid-column>
  <kendo-grid-column field="low" title="Low Price" width="120">
  </kendo-grid-column>
  <kendo-grid-column field="priceDiff" title="Price Diffrence" width="120">
  </kendo-grid-column>
</kendo-grid>
<div *ngIf="dateToSell" class="footer">
  <div>
    The best date to sell is on {{dateToSell.date | date: 'dd/MM/yyyy'}}: {{dateToSell.high }}$
  </div>
  <div>
    The best date to buy is on {{dateToBuy.date | date: 'dd/MM/yyyy'}}: {{dateToBuy.low}}$
  </div>
</div>


<!-- 
 [sortable]="{
  allowUnsort: allowUnsort,
  mode: multiple ? 'multiple' : 'single'
}"  -->